.modal-view-movie {
	margin-top: 20px;
}

.modal-view-movie .ant-modal-content
{
	height: auto !important;
	border-radius: 10px !important;	
}

.modal-view-movie .ant-modal-footer
{
	display: none;
}

.modal-view-movie .ant-modal-body
{
	background-color: #141414 !important;
	min-height: 3000px;
	padding: 0px;
}

.poster-container
{
	position: relative;
	width: 100%;
	height: 450px;
}

.poster-container .poster__img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	vertical-align: middle;
}

.poster-container .poster-options
{
	position: absolute;
	display: flex;
	align-items: center;
	bottom: 50px;
	left: 50px;
	display: flex;
	flex-direction: row;
}

.poster-container .poster-options > button:nth-child(n)
{
	margin-right: 12px;
}

.poster-container .poster-options .poster-options__button
{
	cursor: pointer;
	color: #000;
	outline: none;
	border: none;
	font-weight: 500;
	border-radius: 2px;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	margin-right: 1rem;
	background-color: #FFFFFF;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
	font-size: 1rem;
}

.poster-container .poster-options .poster-options__button svg
{
	margin-right: 15px;
	font-size: 1.2vw;
	color: #000;
}

.poster-container .poster-options .poster-options__button-icon
{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #BDBDBD;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

.poster-container .poster-options .poster-options__button-icon svg
{
	color: #FFFFFF;
	font-size: 1.2rem;
}

.poster-container .poster-options__button-close
{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	color: #FFFFFF;
	background-color: #212121;
	border-radius: 50%; 
}

.poster-container .poster-options__button-close svg
{
	font-size: 25px;
}

.poster-container .poster-options__button-close:hover
{
	cursor: pointer;
}

.poster-container--fade-bottom
{
	z-index: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	background-image: linear-gradient(
		180deg,
		transparent,
		rgba(37, 37, 37, 0.61),
		#111
	);
}

.details-container
{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	padding: 0px 30px;
}

.details-container .details-metadata
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.details-container .details-metadata .details-metadata-left
{
	display: flex;
	flex-direction: column;
	width: 70%;
}

.details-container .details-metadata .details-metadata-left .details-metadata-info
{
	display: flex;
	flex-direction: row;
}

.details-container .details-metadata .details-metadata-left .details-metadata-info > span:nth-child(n)
{
	color: #FFFFFF;
	margin-right: 20px;
}

.details-container .details-metadata .details-metadata-left .details-metadata-synopsis
{
	margin-top: 10px;
	text-align: justify;
	color: #FFFFFF;
	font-size: 1.1rem;
}

.details-container .details-metadata .details-metadata-right
{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	flex: 1;
	margin-left: 50px;
}

.details-container .details-metadata .details-metadata-right .details-metadata-tags
{
    font-size: 14px;
    line-height: 20px;
    margin: .5em;
    margin-left: 0;
    word-break: break-word;
}

.details-container .details-metadata .details-metadata-right .details-metadata-tags .details-metadata--tags-label
{
	color: #777;
	margin-right: 10px;
	font-weight: 500;
}

.details-container .details-metadata .details-metadata-right .details-metadata-tags .details-metadata--tags-item
{
	font-weight: 700;
	padding-right: 5px;
    color: #ddd;
    margin: 0;
    cursor: pointer;
    outline-color: #fff;
}

.details-container .details-metadata .details-metadata-right .details-metadata-tags .details-metadata--tags-item:hover
{
	text-decoration: underline;
}

.details-container .details-similar-movies
{
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.details-container .details-similar-movies .details-movie
{
	height: 330px;
	width: 260px;
	margin-right: 20px;
	margin-bottom: 15px;
}

.details-container .details-similar-movies .details-movie:nth-child(3n)
{
	margin-right: 0px;
}

.details-container .details-similar-movies .details-movie .details-movie-container-poster
{
	position: relative;
	width: 100%;
	height: 150px;
	transition: all 0.60ms;
	transition-duration: 0.40s;
}

.details-container .details-similar-movies .details-movie .details-movie-container-poster .details-movie-poster
{
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-top-left-radius: 2px;
}

.details-container .details-similar-movies .details-movie .details-movie-container-poster:hover
{
	cursor: pointer;
}

.details-container .details-similar-movies .details-movie .details-movie-container-poster:hover .details-movie-container-mask--play
{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.3);
}

.details-container .details-similar-movies .details-movie .details-movie-container-poster .details-movie-container-poster--play
{
	position: absolute;
	z-index: 1;
	top: 30%;
	left: 40%;
	transform: translateY(-50%, -50%);
	color: #FFFFFF;
	font-size: 60px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.60ms;
	transition-duration: 0.40s;
}

.details-container .details-similar-movies .details-movie .details-movie-container-poster:hover .details-movie-container-poster--play
{
	opacity: 1;
	visibility:visible;
}

.details-container .details-similar-movies .details-movie .details-movie-details
{
	display: flex;
	flex-direction: column;
	text-align: justify;
	background-color: #2f2f2f;
	padding: 10px 20px 20px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.details-container .details-similar-movies .details-movie .details-movie-details .detail-movie-metadata
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.details-container .details-similar-movies .details-movie .details-movie-details .detail-movie-metadata .detail-movie-add-list
{
	color: #FFFFFF;
	font-size: 28px;
	cursor: pointer;
}

.details-container .details-similar-movies .details-movie .details-movie-details .detail-movie-metadata .detail-movie-release-date
{
	font-size: 16px;
	font-weight: 500;
	margin-top: 0px;
	color: #FFFFFF;
}

.details-container .details-similar-movies .details-movie .details-movie-details .detail-movie-overview
{
	margin-top: 10px;
	color: #FFFFFF;
	height: 95px;
}

.details-container .details-similar-movies .details-movie .details-movie-details .detail-movie-more-overview
{
	color: #FFFFFF;
	font-weight: 900;
	font-size: 12px;
	cursor: pointer;
}

.details-container .details-similar-movies .details-movie .details-movie-details .detail-movie-more-overview:hover
{
	text-decoration: underline;
}